EXPO_PUBLIC_NETWORK=sepolia
EXPO_PUBLIC_PRIVY_APP_ID=your_privy_app_id_here
EXPO_PUBLIC_PRIVY_CLIENT_ID=
EXPO_PUBLIC_AVNU_API_KEY=your_avnu_api_key_here
EXPO_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
